.Landing-page {
  display: flex;
  justify-content: center;
}

.Landing-page a button {
  font-size: 1rem;
}

.Products-page {
  display: flex;
  flex-direction: column;
}

.Products-page .App-header {
  /* display: flex;
  flex-direction: row; */
}

.Products-page h1 {
  margin: 2rem;
}

.Products-page h2 {
  font-weight: 300;
}
