#product-ad {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 30%;
  min-width: 400px;
  margin: auto;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 4px solid #000;
  border-radius: 2px;
}

#product-ad p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1rem;
}

#product-ad h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 700;
}

#product-ad .header {
  display: flex;
  flex-direction: column;
}

#product-ad .body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#product-ad .body .body-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#product-ad .body .body-text .body-text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#product-ad .body .body-text .body-text-component {
  display: flex;
  flex-direction: row;
}

#product-ad .body .body-text .body-text-component p {
  margin: 0px 5px;
}

#product-ad .body .body-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#product-ad img {
  height: auto;
  max-width: 100%;
}

#product-ad hr {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  background-color: #000;
  width: 100%;
}
